<!doctype html>
<html
	lang="en">
	<!-- Calling method head.html.twig-->
	{% include "partial/head.html.twig" %}
	<body>
		<!-- Calling method navigation.html.twig-->
		{% include "partial/navigation.html.twig" %}

		<!-- Image overlay-->
		<div class="card text-center">
			<div class="container-home">
				<img src="extra_images/home_banner2.jpg" class="img-fluid" alt="Home banner">
				<h2 class="welcome_text">"Better ingredients, Better review"</h2>
			</div>
			<div class="container mt-5">
				<div class="row">
					{% for restaurant in restaurants.items | slice(0, 15) %}
						<div class="col-md-4 mb-3">
							<div class="card">
								<div class="restaurant_list_img" style="background-image:url(restaurant_images/{{ restaurant.picture  }})"></div>
								<div class="card-body">
									<h5 class="card-title">{{ restaurant.restaurant_name }}</h5>
									<p class="card-text">
										{{ restaurant.category}}</p>
									<p class="card-text">{{ restaurant.restaurant_address}}</p>
									<a href="detail.php?id={{restaurant.id}}" class="btn btn-primary">View Detail</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% include "partial/footer.html.twig" %}
		{% include "partial/script.html.twig" %}
	</body>
</html>
